.dashboard__header {
  color: royalblue;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
}
.dashboard__logout {
  float: right;
}
.dashboard__footer {
  justify-content: space-between;
  display: flex;
  margin: 20px;
}
.dashboard__theme {
  display: grid;
}
